<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://localhost:4200/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, prepared by
            Radowan Mahmud Redoy.
        </div>
    </div>
</footer>
