<div class="main-content">
    <div class="container-fluid">
        <div class="row cen">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/angular.png" />
                        </a>
                    </div>
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Student Profile</h4>
                        <p class="card-category">Edit Your informations and password</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="row rowpm">
                                <div class="col-md-2">
                                        <label><b>User Name</b></label>
                                </div>
                                <div class="col-md-1">
                                    <label><b> :</b></label>
                                </div>
                                <div class="col-md-auto">
                                        <input [(ngModel)]="user_name" class="form-control" name="user_name" matInput >
                                </div>
                            </div>
                            <div class="row rowpm">
                                <div class="col-md-2">
                                    <label><b>User Designation</b></label>
                                </div>
                                <div class="col-md-1">
                                    <label><b> :</b></label>
                                </div>
                                <div class="col-md-auto">
                                        <input class="form-control" [(ngModel)]="user_designation" name="user_designation" matInput >
                                </div>
                            </div>
                            <div class="row rowpm">
                                <div class="col-md-2">
                                    <label><b>User Email</b></label>
                                </div>
                                <div class="col-md-1">
                                    <label><b> :</b></label>
                                </div>
                                <div class="col-md-auto">
                                        <input class="form-control" [(ngModel)]="user_email" name="user_email" matInput >
                                </div>
                            </div>
                            <div class="row rowpm">
                                <div class="col-md-2">
                                    <label><b>Password </b></label>
                                </div>
                                <div class="col-md-1">
                                    <label><b> :</b></label>
                                </div>
                                <div class="col-md-auto">
                                    <input class="form-control" type="password" [(ngModel)]="user_password" name="user_password" matInput disabled >
                                </div>
                            </div>
                            <div class="row rowpm info">
                                For Changing Password Please Fill the Info's Below
                            </div>
                            <div class="row rowpm">
                                <div class="col-md-2">
                                    <label><b>Current Password</b></label>
                                </div>
                                <div class="col-md-1">
                                    <label><b> :</b></label>
                                </div>
                                <div class="col-md-auto">
                                    <input class="form-control" type="password" [(ngModel)]="user_confirm_password" name="user_confirm_password" matInput placeholder="Enter Old Password" >
                                </div>
                            </div>
                            <div class="row rowpm">
                                <div class="col-md-2">
                                    <label><b>New Password </b></label>
                                </div>
                                <div class="col-md-1">
                                    <label><b> :</b></label>
                                </div>
                                <div class="col-md-auto">
                                    <input class="form-control" type="password" [(ngModel)]="user_new_password" name="user_new_password" matInput placeholder="Enter New Password" >
                                </div>
                            </div>
                            <button (click)="saveEditedInfo()" class="btn btn-danger btn-md">
                                Save Edited Info
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

