<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats" (click)="navigate('admin/daily-report')">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i  class="material-icons">content_copy</i>
                    </div>
                    <h3 class="card-title">Daily Attendence
                        <small>Report</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <small>Click Here For Details</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats" (click)="navigate('admin/weekly-report')">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <h3 class="card-title">Weekly Attendence
                        <small>Report</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Click Here For Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats" (click)="navigate('admin/monthly-report')">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <h3 class="card-title">Monthly Attendence
                        <small>Report</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Click Here For Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
